<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div> 
	<div id="content"> 
		<h1>Hello I'm Solomon nice to Meet You!</h1>
		<p>I am Solomon Zion Glover and I am thirteen years of age. I live in the bay area and am currently going into the ninth grade and I love to code. I am currently on summer break and am taking part in a 15 month imersion program named The Hidden Genius Project and they train and mentor black male youth in technology creation, euntrepaneurship and leadership skills to transform their lives and communities. And now I am creating this website as a final project for the summer semester of the program. So now let me tell you what I like to do, I like to swim, code, make lemonade, and binge watch my favorite show which is of course Avatar:The Last Airbender. </p> 
	</div>
	
</div>